{% extends 'base/base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 no-padding">
        <div class="panel panel-teal panel-widget border-right">
            <div class="row no-padding"><em class="fa fa-xl fa-shopping-cart color-blue"></em>
                <div class="large">25</div>
                <div class="text-muted">Atendimentos dos últimos 30 dias</div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 no-padding">
        <div class="panel panel-teal panel-widget border-right">
            <div class="row no-padding"><em class="fa fa-xl fa-shopping-cart color-blue"></em>
                <div class="large">25</div>
                <div class="text-muted">Atendimentos dos últimos 30 dias</div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 no-padding">
        <div class="panel panel-teal panel-widget border-right">
            <div class="row no-padding"><em class="fa fa-xl fa-shopping-cart color-blue"></em>
                <div class="large">25</div>
                <div class="text-muted">Atendimentos dos últimos 30 dias</div>
            </div>
        </div>
    </div>
</div>


{% endblock %}