{% extends 'base/base.html' %}
{% block content %}

<div class="panel-body">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th class="text-center">Ação</th>
                <th class="text-center">Cliente</th>
                <th class="text-center">Data</th>
            </tr>
            </thead>
            <tbody>
            {% for u in pedidos %}
            <tr>
                <td align="center">
                    <div class="btn-group btn-group-sm shadow" role="group" aria-label="Basic example">
                        <a href="{% url 'cliente:edit-cliente' u.pk %}" class="btn btn-success shadow"><i class="fas fa-pencil-alt"></i></a>
                        <a href="#" class="btn btn-primary shadow btn-detail"><i class="fas fa-eye"></i></a>
                    </div>
                </td>
                <td align="center">{{ u.cliente.nome }}</td>
                <td align="center">{{ u.data }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
